/*fontes
font-family: 'Playfair Display', serif;
*/
html,body {
    height: 100%;
}
body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif;
    color: #222222;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}
.background-header{
    background: black
}
.menu{
    max-width: 960;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
/*menu*/
.menu a{
    color: beige;
}
.menu-logo{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    background:#222222 ;
    border-radius: 20px;
}

/*introdução*/
.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    text-align: center;
    border-bottom: 3px solid black;

}


/*sobre*/
.sobre{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
  
    
}
.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
    flex-wrap: wrap;
}
.sobre-info h1{
    font-size: 2.30em;
    margin-bottom: .5em;
}
.sobre-info p{
        font-size: 1.25em;
        line-height: 1.4;
        margin-bottom: 1em;
        color: #7c7c7c;
        
}
.sobre img{
    flex: 1 1 160px;
    margin: 0 10px;
}

.img-lado img{
    border-radius: 10px;
    margin-top: 100px;
    border-bottom: 1px solid black;
}
/*curiosidades*/
.curiosidade{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-wrap: wrap;
}

.text-inside{
    flex: 2 1 300px;
    margin: 0 10px;
    flex-wrap: wrap;
}
.text-inside h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.text-inside p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color:#7c7c7c ;
}


.curiosidade img{
    flex: 1 1 160px;
    margin: 0 10px;
}

/*Capitão*/

.criador{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 400px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.photo-inside{
    flex:  1 300px;
    margin: 0 10px;
}
.photo-inside h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.photo-inside h2{
    font-size: 2em;
}

.photo-inside p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color:#7c7c7c ;
}

.criador img{
    flex: 1 1 160px;
    margin: 0 10px;
}
.img-capitao img{
    border-radius: 50%;
}



/*rodape*/
.footer{
    display: flex;
    background: black;
    height: 150px;
    align-items: center;
    flex-wrap: wrap;

}
.footer p{
    flex: 1;
    color: beige;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

